.jumbotron {
    margin: 0;
    padding: 20px;
    background-color: rgb(82, 202, 207)!important;
    font-family: "Allura", cursive;
}

.jumbotron h1{
    font-size: 84px;
    font-weight: 600;
    letter-spacing: 2px;
}

.jumbotron h2 {
    color: whitesmoke;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.nav-link{
    font-family: 'Open Sans', sans-serif;
}

footer{
    background-color: #343A40;
    padding-top: 40px;
    padding-bottom: 30px;
    color: whitesmoke;
}

@media (max-width:576px) {
    footer img{
        display: none;
}
}
@media (min-width:576px) {
    footer img{
        display: block;
        margin: 0 auto;
}
}